# IDE specific files
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
bin/
*.sw?

# Build output
target/
build/
out/

# Logs
*.log

# Dependency directories
**/node_modules/

# Environment files
.env
*.env